<div class="pwd-requirements" aria-live="polite">
  <p class="pwd-requirements__title">Le mot de passe doit contenir les éléments suivants :</p>
  <ul class="pwd-requirements__list">
    <li
      *ngFor="let rule of rules"
      class="pwd-requirements__item"
      [class.pwd-requirements__item--met]="state(rule) === 'met'"
      [class.pwd-requirements__item--unmet]="state(rule) === 'unmet'"
      [class.pwd-requirements__item--pending]="state(rule) === 'pending'"
    >
      <span class="pwd-requirements__icon" aria-hidden="true">
        <ng-container [ngSwitch]="state(rule)">
          <span *ngSwitchCase="'met'">✓</span>
          <span *ngSwitchCase="'unmet'">✕</span>
          <span *ngSwitchDefault>○</span>
        </ng-container>
      </span>
      {{ rule.label }}
    </li>
  </ul>
</div>
